body {
    background-color: aqua;
    background-image: url('Images/bg.png');
    background-repeat: repeat;
}
.pic {
    width: 1;
}
.CubeyButton {
    background-color: #0011ff;
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.CubeyButton:hover {
    background-color: red;
    color: #0011ff;
}
.TrianglyButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.TrianglyButton:hover {
    background-color: blue;
    color: yellow;
}
.CircleyButton {
    background-color: #ff0000;
    border: none;
    color: rgb(47, 0, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.CircleyButton:hover {
    background-color: rgb(76, 0, 255);
    color: #ff0000;
}
.waxButton {
    background-color: #ff9900;
    border: none;
    color: rgb(255, 238, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.waxButton:hover {
    background-color: rgb(255, 238, 0);
    color: #ff9900;;
}
.badButton {
    background-color: rgb(0, 255, 0);
    border: none;
    color: #ff9100;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.badButton:hover {
    background-color: brown;
    color: yellow;
}
.prototypeButton {
    background-color: #808080;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.prototypeButton:hover {
    background-color: black;
    color: #808080;
}
.CubeyStartButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.CubeyStartButton:hover{
    color: #ff0000;
}
.itchButton {
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.Youtube {
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.Discord {
    background-color: blue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}